body {
  background-image: url(video.mp4);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  align-items: center;
  font-family: sans-serif;
}

.videoTag {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
