.WeatherInfo h1 {
  line-height: 50px;
  font-size: 44px;
  margin-bottom: 10px;
  text-align: center;
  overflow-wrap: break-word;
  color: var(--very-dark-color);
}

.WeatherInfo canvas {
  font-size: 18px;
  display: block;
  float: right;
}

.WeatherInfo .temperature {
  font-size: 48px;
  font-weight: bold;
}

.WeatherInfo .unit {
  font-size: 18px;
  top: -20px;
  margin-left: 5px;
}

.WeatherInfo ul {
  margin: 0;
  padding: 0;
}

.WeatherInfo li {
  font-size: 18px;
  list-style: none;
  line-height: 28px;
}

.WeatherInfo .main-img-description {
  font-size: 18px;
  text-align: center;
  margin-top: 12px;
}

.WeatherInfo .col-6,
.WeatherInfo .col-5,
.WeatherInfo .col-1 {
  margin-top: 20px;
}

.WeatherInfo .descriptions-weather {
  border-left: 2px solid var(--primary-dark-color);
}
