.WeatherForecast {
  text-align: center;
}

.WeatherForecast-day {
  margin-bottom: 10px;
  margin-top: 50px;
  font-size: 18px;
}

.WeatherForecast-temperatures {
  margin-top: 8px;
  font-size: 18px;
}

.WeatherForecast-temperature-max {
  margin-right: 6px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
}
