.WeatherForecast {
  text-align: center;
}

.WeatherForecast-day {
  margin-bottom: 10px;
  margin-top: 50px;
  font-size: 18px;
}

.WeatherForecast-temperatures {
  margin-top: 8px;
  font-size: 18px;
}

.WeatherForecast-temperature-max {
  margin-right: 6px;
}

.WeatherForecast-temperature-min {
  opacity: 0.6;
}

@media (max-width: 415px) {
  .WeatherForecast-day {
    margin-bottom: 5px;
    margin-top: 35px;
  }
}

@media (width: 280px) {
  .WeatherForecast-day {
    margin-bottom: 5px;
    margin-top: 30px;
    font-size: 17px;
  }
}
