.WeatherInfo h1 {
  line-height: 50px;
  font-size: 46px;
  margin-bottom: 10px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: Playfair Display;
}

.WeatherInfo canvas {
  display: block;
  float: right;
}

.WeatherInfo .temperature {
  font-size: 48px;
  font-weight: bold;
}

.WeatherInfo .unit {
  font-size: 18px;
  top: -20px;
  margin-left: 5px;
}

.WeatherInfo ul {
  margin: 0;
  padding: 0;
}

.WeatherInfo li {
  font-size: 20px;
  list-style: none;
  line-height: 28px;
}

.WeatherInfo .main-img-description {
  font-size: 20px;
  text-align: center;
  margin-top: 12px;
}

.WeatherInfo .col-6,
.WeatherInfo .col-5,
.WeatherInfo .col-1 {
  margin-top: 20px;
}

.WeatherInfo .descriptions-weather {
  border-left: 2px solid var(--primary-dark-color);
}

@media (max-width: 415px) {
  .WeatherInfo h1 {
    line-height: 30px;
    font-size: 40px;
    margin-bottom: 5px;
  }

  .WeatherInfo canvas {
    font-size: 18px;
    display: block;
  }

  .WeatherInfo .temperature {
    font-size: 38px;
    font-weight: bold;
  }

  .WeatherTemperature {
    margin: 0;
    padding: 0;
  }

  .WeatherInfo .unit {
    font-size: 17px;
    top: -15px;
    margin-left: 1px;
  }

  .WeatherInfo li {
    line-height: 26px;
  }

  .WeatherInfo .main-img-description {
    margin-top: 3px;
  }

  .WeatherInfo .col-1 {
    width: 1%;
  }

  .WeatherInfo .descriptions-weather {
    padding: 0px;
  }
}
@media (width: 280px) {
  .WeatherInfo h1 {
    line-height: 30px;
    font-size: 35px;
  }

  .WeatherInfo canvas {
    font-size: 18px !important;
    float: none;
  }

  .WeatherInfo .temperature {
    font-size: 25px;
    font-weight: bold;
  }

  .WeatherInfo .unit {
    display: none;
  }

  .WeatherInfo li {
    line-height: 22px;
    font-size: small;
  }

  .WeatherInfo .main-img-description {
    margin-top: 1px;
  }
}
